/* Thread */
.user {
    width: 100%;
    background: #b26023;
    display: table-row;
    vertical-align: middle;
}

.user span:nth-child(1){ /* Title */
    width: 30%;
    display: table-cell;
    border: 1px solid #6F3900;
    padding-left: 1%;
}

.user span:nth-child(2){ /* Author */
    width: 30%;
    display: table-cell;
    border: 1px solid #6F3900;
    padding-left: 1%;
}

.user span:nth-child(3){ /* Date Created */
    width: 40%;
    display: table-cell;
    border: 1px solid #6F3900;
    padding-left: 1%;
}

/* Threads */
.users {
    width:70%;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.users div:nth-child(even) {
    background: #E68927;
}

.users div:nth-child(odd) {
    background: #b26023;
}
